<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores autem laboriosam quas ratione sint asperiores ad dolor magni perferendis minus. Maiores eos a autem ad cupiditate, cum illum, impedit modi quasi deleniti soluta voluptas id officiis recusandae ipsam non ipsum!</p>
    </div>
</div>