<div class="jumbotron mt-4">
<h1 class="display-4">Notes App</h1>
<p class="lead">Tú aplicación de notas rápidas</p>
<hr class="my-4"><br>
<h5>Notes App es una aplicación de notas rápidas pensada en guardar notas de textos por cada usuario que desea usar la aplicación. Cada usuario tiene sus propias notas donde puede editarlas y elimarlas. </h5><br>
<p>Nota: Para usar la app debes crear un usuario <a href="/users/signup">CREATE USER</a> </p><br>
<a href="/users/signin" class="btn btn-primary btn-lg">Iniciar</a>
</div>