<div class="jumbotron mt-4">
<h1 class="display-4">Notes App</h1>
<p class="lead">Tú aplicación de notas rápidas</p>
<hr class="my-4"><br>
<h5>Notes App es una aplicación de notas rápidas pensada en guardar notas de textos por cada usuario que desea usar la aplicación. Cada usuario tiene sus propias notas donde puede editarlas y elimarlas. </h5>
<a href="https://riverahan.github.io" class="btn btn-primary btn-lg">Hanzell Rivera</a>
</div>