<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3">
    <span class="text-light">© 2021 Copyright:</span>
    <a class="text-light" href="https://riverahan.github.io">Hanzell Rivera</a>
  </div>
  <!-- Copyright -->
</footer>